.columns {
    background-image: url(./../../assets/columns.png);
    .container {
        flex-direction: row;
        .column {
            flex-direction: column;
            @include centralize;
            padding: 20px 44px;
            font-weight: lighter;
            text-align: center;
            &__number {
                font-size: 4rem;
            }
            &__title {
                padding: 15px;
                font-size: 1.1rem;
            }
            &__description {
                letter-spacing: -0.32px;
            }
        }
    }
}