.form__container {
    .form__login {
        background-color: $bg;
        padding: 50px 100px;
        flex-direction: column;
        @include centralize;
        label {
            margin: 10px;
        }
        input {
            background-color: $bg;
            border: none;
            outline: none;
            border-bottom: 1px solid $text;
            margin: 10px;
            width: 100%;
        }
    }
    .error {
        font-size: .9rem;
        color: red;
    }
}