.giveAwayBtn {
    font-size: 2.2rem;
    font-weight: lighter;
    @include centralize;
    text-align: center;
    border: 1px solid $text;
    width: 310px;
    height: 120px;
    margin: 38px;
    .link {
        text-decoration: none;
        color: $text;
    }
    &:hover {
        transition: .2s;
        color: $hover;
        background-color: $bg;
        border: $hover;
    }
}