.giveAwaySteps-wrapper {
    width: 100vw;
    height: 80vh;
    background-image: url('./../../assets/teddy.png');
    background-size: cover;
    align-items: center;
    position: relative;
}
.giveAwaySteps {
    &__firstBox {
        position: absolute;
        top: 15%;
        left: 15%;
    }
}