.giveAwaySteps-wrapper {
    width: 100vw;
    height: 80vh;
    background-image: url('./../../assets/teddy.png');
    background-size: cover;
    align-items: center;
}
.giveAwaySteps {
    width: 100%;
}