nav {
    z-index: 1;
    position: absolute;
    top: 4%;
    right: 5%;
    li:first-child {
        border: 1px solid $text;
        padding: 9px 20px;
    }
    li {
        font-size: 1rem;
        list-style: none;
        display: inline-block;
        margin-left: 2rem;
        .link {
            text-decoration: none;
            color: $text;
        }
    }
}