.steps {
    @include centralize;
    flex-direction: column;
    &__title {
        padding-top: 10px;
        font-size: 1.8rem;
    }
    &__decoration {
        @include decoration;
    }
    &__boxes {
        text-align: center;
        margin-top: 20px;
        padding: 20px;
        @include centralize;
        background-color: $bg;
    }
    &__box {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        &__title {
            font-size: 1.1rem;
        }
        &__line {
            width: 80px;
            margin: 7px;
            border-bottom: 1px solid $text;
        }
        &__description {
            font-size: 1rem;
        }
    }

    &__container {
        justify-content: center;
    }
}

@for $i from 1 through 4 {
    .steps__box__icon:nth-child(#{$i}) {
        background-image: url(./../../assets/Icon-#{$i}.svg);
        width: 83px;
        height: 83px;
    }
}