@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:400,700&display=swap');
@import './settings/reset';
@import './settings/colors';
@import './settings/fonts';
@import './settings/flex';
@import './settings/mixins';

@import './components/home';
@import './components/loginPanel';
@import './components/navigation';
@import './components/hero';
@import './components/columns';
@import './components/steps';
@import './components/giveAwayBtn';
@import './components/importantMsg';
@import './components/giveAwaySteps';

@import './components/form';
@import './components/loginRegisterBtns';
@import './components/userPanel';
@import './components/logout';

@import './components/about';
@import './components/collab';
@import './components/contact';
@import './components/footer';







html, body {
    font-size: 16px;
    font-family: $font-base;
    color: $text;
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    max-height: 100%;
    margin: 0 auto;
}

